main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  line-height: 1.6;
  display: grid;
  row-gap: 1rem;
}
.language-selector {
  place-self: end;
  display: grid;
  grid-auto-flow: column;
  place-items: end;
  align-items: center;
  column-gap: 0.3rem;
}

select {
  padding: 5px;
  font-size: 16px;
  border-radius: 0.3rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  option {
    color: #000000;
  }
}
section {
  display: grid;
  row-gap: 1rem;
}
header {
  display: grid;
  span {
    text-align: center;
  }
}
h1,
h2 {
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

p {
  text-align: center;
  font-size: 18px;
}

ul {
  list-style: none;
  padding-left: 20px;
  display: grid;
  row-gap: 0.5rem;
}

.hero-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 0.3rem;
}

.download-button {
  margin: 1rem auto auto auto;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #09f;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #0056b3;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #09f;
}

footer a:hover {
  color: #0056b3;
}
