.section-settings.open {
  background-color: #202020;
  pointer-events: all;
  border-radius: 0.5rem 0.5rem 0 0;
  header {
    justify-content: space-between;
  }
  .hiddenContainer {
    max-height: 100%;
    opacity: 1;
  }
}
.section-settings {
  color: #eeeeee;
  width: 100%;
  display: grid;
  grid-template-rows: auto 0fr;
  pointer-events: none;
  padding: 0.3rem 0.5rem;
  header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
    span {
      display: flex;
      font-size: var(--font-size);
      svg {
        z-index: 1;
        pointer-events: all;
        cursor: pointer;
        transition: transform 0.2s;
      }
      svg:hover {
        transform: rotateY(180deg);
      }
    }
    .btnSettings {
      justify-self: end;
    }
    .btnStrech {
      rotate: 90deg;
    }
    .btnMove {
      svg {
        cursor: move;
      }
    }
  }

  .hiddenContainer {
    max-height: 0;
    opacity: 0;
    transition: opacity 0.1s;
    .settings-group {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: repeat(3, 1fr);
      label {
        cursor: pointer;
        display: grid;
        position: relative;
        text-align: center;
        input {
          width: 100%;
          border-radius: 1rem;
        }
      }
      label:has(> input[type='color']) {
        input {
          border: none;
          &::-webkit-color-swatch {
            border-radius: 0.3rem;
          }
          &::-webkit-color-swatch-wrapper {
            padding: 0;
          }
        }
      }
      label:has(> .inputCheck) {
        .inputCheck {
          opacity: 0;
          &:checked ~ .checkmark:after {
            background-color: #33ff00;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          }
        }
        .checkmark {
          display: grid;
          transition: scale 0.2s;
          place-items: center;
        }
        .checkmark::after {
          width: 100%;
          content: '';
          position: absolute;
          bottom: 0;
          width: 12px;
          height: 12px;
          background-color: #ff0000;
          clip-path: polygon(
            20% 0%,
            0% 20%,
            30% 50%,
            0% 80%,
            20% 100%,
            50% 70%,
            80% 100%,
            100% 80%,
            70% 50%,
            100% 20%,
            80% 0%,
            50% 30%
          );
        }
      }
    }
    .settings-group:has(> button) {
      margin-top: 0.5rem;
      grid-template-columns: 1fr 1fr;
      button {
        border: 1px solid rgba(255, 255, 255, 0.575);
        border-radius: 0.3rem;
        background-color: #202020;
        cursor: pointer;
        transition:
          background-color 0.2s,
          color 0.2s;
        &:hover {
          background-color: #eeeeee;
          color: #202020;
        }
      }
    }
    .settings-group:has(> label > input[type='range']) {
      grid-template-columns: 1fr;
    }
  }
}
